<!DOCTYPE html>
<html>
<head>
	<title>vue</title>
	<script src="//cdn.jsdelivr.net/vue/1.0.16/vue.js"></script>
</head>
<body>
一个例子
<div id="app1">
  {{ message }}
</div>
<hr>
双向数据绑定v-model
<div id="app2">
  <p>{{ message }}</p>
  <input v-model="message">
</div>
<hr>
事件绑定v-on
<div id="app3">
	<input v-model="message">
	<button v-on:click="say">点击</button>
	<button @click="say">@点击</button>
</div>
<hr>
条件渲染v-if/v-show
<div id="app4">
	<div v-if="show">
		显示<button @click="isShow">不显示</button>
	</div>
	<div v-else>
		不显示<button @click="isShow">显示</button>
	</div>
	<div v-show="show">显示</div>
	<div v-else>不显示</div>
</div>
<hr>
列表渲染v-for
<div id="app5">
	<ul>
		<li v-for="item in itemArray">
			{{item.a}} ----- {{item.b}}
		</li>
	</ul>
</div>
<hr>
计算属性computed
<div id="app6">
	输入一个数字<input v-model="value">
	<p>计算结果：{{square}}</p>
</div>
<hr>
过滤器
<div id="app7">
	<p>vue自带过滤器：{{'abc' | uppercase}}</p>
	<p>自定义过滤器：{{'abc' | reverse}}</p>
	<p>接受参数过滤器：{{'abc' | wrap 'before ' ' after'}}</p>
</div>
<hr>


<script type="text/javascript">
	var vm1 = new Vue({
	    el:'#app1',
	    data: {
	        message:'Hello World!'
	    }
	});
	var vm2 = new Vue({
		el: '#app2',
		data: {
			message: 'Hello World!'
		}
	})
	var vm3 = new Vue({
		el: '#app3',
		data: {
			message: 'Hello World'
		},
		methods: {
			say: function () {
				alert(this.message);
			}
		}
	})
	var vm4 = new Vue({
		el: '#app4',
		data: {
			show: true
		},
		methods: {
			isShow: function (){
				this.show = !this.show;
			}
		}
	})
	var vm5 = new Vue({
		el: '#app5',
		data: {
			itemArray: [
				{a: 1, b: 4},
				{a: 2, b: 5},
				{a: 3, b: 6},
			]
		}
	})
	var vm6 = new Vue({
		el: '#app6',
		data: {
			value: 1
		},
		computed: {
			square: function(){
				return this.value * this.value;
			}
		}
	})
	//过滤器
	Vue.filter('reverse', function (value) {
		return value.split('').reverse().join('')
	})
	Vue.filter('wrap', function (value, begin, end) {
  		return begin + value + end
	})
	var vm7 = new Vue({
		el: '#app7'
	})

</script>

</body>
</html>